/* Animation on Circle Container */
.rotateActive {
    -webkit-animation: swirl-out 1s ease-in both;
    animation: swirl-out 1s ease-in both;
}

/* Animation keyframes */
@-webkit-keyframes swirl-out {
    0% {
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(540deg) scale(0);
        transform: rotate(540deg) scale(0);
        opacity: 0;
    }
}
@keyframes swirl-out {
    0% {
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(540deg) scale(0);
        transform: rotate(540deg) scale(0);
        opacity: 0;
    }
}

/* @-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */

/* Animation on Result Card */
#resultdiv {
    -webkit-animation: swirl-in 0.6s ease-out 0.2s both;
    animation: swirl-in 0.6s ease-out 0.2s both;
}

/* Animation Keyframes */
@-webkit-keyframes swirl-in {
    0% {
        -webkit-transform: rotate(1080deg) scale(0);
        transform: rotate(1080deg) scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}
@keyframes swirl-in {
    0% {
        -webkit-transform: rotate(1080deg) scale(0);
        transform: rotate(1080deg) scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}
