.rotateActive {
    -webkit-animation: rotateContainer 1.5s linear;
    /* animation-iteration-count: infinite; */
}

@-webkit-keyframes rotateContainer {
    0% {
        /* -webkit-transform: rotate(0deg); */
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform-origin: 50% 50%;
        opacity: 0;
    }
    /* 100% {
        transform: rotate(360deg);
        opacity: 0;
    } */
}

@-webkit-keyframes rotateChild {
    0% {
        -webkit-transform: rotate(-360deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#resultdiv {
    -webkit-animation: rotate-scale-up 0.65s linear both;
    animation: rotate-scale-up 0.65s linear both;
}

@-webkit-keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
    50% {
        -webkit-transform: scale(2) rotateZ(180deg);
        transform: scale(2) rotateZ(180deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}
@keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
    50% {
        -webkit-transform: scale(2) rotateZ(180deg);
        transform: scale(2) rotateZ(180deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}
